# Xcode
DerivedData/
build/

# Swift Package Manager
.swiftpm
Packages/
.build/

# User settings
*.xcuserstate
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Environment
*.xcconfig

# Others
.DS_Store

.env
*.p8